.header {
    background-color: #0081A7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: antiquewhite;
    font-size: 20px;
    border: 2px gray solid;
    height: 110px;
    border-radius: 15px;
}

.nav {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

button {
    background-color: black;
    color: antiquewhite;
    border: none;
    font-size: 20px;

}

button:hover {
    color: blue;
}

.dive-logo {
    width: 8vh;
    height: 8vh;
    background-color: black;
    margin-right: 20px;
    border-radius: 30px;
    margin: 5px;
}

.logo {
    display: flex;
    align-items: center;
    padding: none;
}